/* login css */

#logo {
    width: 200px;
    height: 15%;
    margin-left: -10px;
    margin-top: 5%;
    margin-bottom: 1%;
}

#centered {
  margin: auto;
}


#login-container {
    display: inline-block;
    background: rgba(253, 103, 26, 0.8);
    border-radius: 25px;
    padding: 2%;
}


#row-top {
    width: 95%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}

#row-mid {
    width: 95%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#row-button {
    width: 95%;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 5%;
    text-align: center;

}

#row-bottom {
    width: 95%;
    margin: auto;
    margin-top: 15%;
    margin-bottom:10%;
    text-align: center;

}

#label {
    display: inline-block;
    font-size: 125%;
    color: #FFFFFF;
}

#input {
    width: 100%;
    border-radius: 5px;
    padding-left: 2%;
    font-size: 125%;


}

#submit {
width: 100%;
border-radius: 5px;
font-size: 150%;
background: rgb(10,191,211);
border-color: rgb(0, 205, 228);
color: #FFFFFF;
}

#btnRegister {
width: 100%;
border-radius: 5px;
font-size: 150%;
background: rgb(10,191,211);
border-color: rgb(0, 205, 228);
color: #FFFFFF;
}

#btnLog {
width: 100%;
border-radius: 5px;
font-size: 150%;
background: rgb(10,191,211);
border-color: rgb(0, 205, 228);
color: #FFFFFF;
}
