* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  font-family: SourceSansPro-Regular;
  font-size: 5vw;
}

p {
  font-size: 3vw;
  font-family: SourceSansPro-Regular;
}
a {
  font-family: SourceSansPro-Regular;
}

/*Start of title and Logo bar */

#titlelogo {
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color:rgb(10,191,211);
}
.container{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0, 5px;
}

#titlelogo .logo {
  margin: 5px 0px;
}
header {
  width:100%;
  z-index: 3;
}
header nav{
  float:right;
}

 header h1{
  color:#FFFFFF;
  font-weight: 200;
  font-size: 5vw;
  font-family:SourceSansPro-Regular;
  padding: 0px 10px;
  /*margin-top: 20%;
  margin-bottom: 5%;*/
  transition: all 0.2s;
  display: block;

}

.container{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0, 5px;

}


.logo {
  display: inline-block;
  width: 40px;
  height: 80px;
  background:url('../images/truii-logo-mono-blk.png') center center no-repeat;
  background-size: contain;
  float: left;
}

#titlelogo .logo {
  margin: 5px 0px;
}


#recordform {
      padding-top: 20px;
      padding-left: 50px;
      padding-bottom: 30px;
      margin-top: 10%;
}

#titlelogo1 {
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color:#E3E4E4;
}

#titlelogo1 .logo {
  margin: 5px 0px;
}


.logo1 {
  display: inline-block;
  width: 40px;
  height: 80px;
  padding-left: 20%;
  background:url('../images/truii-full-colour-white.png') center center no-repeat;
  background-size: contain;
  float: left;
}

#Homebutton {
padding: 3px;
font-family: SourceSansPro-Regular;
font-size: 5vw;
margin-top: 10%;
}

#titlelogo2 {
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color:#EE6724;
}

.background-image{
  opacity:0.2;
}

.list-group-item-action {
  color: rgb(10,191,211);
}


.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary {
  color: #ffffff;
  background-color: rgba(238, 86, 36, 0.5);
  background: #EE6724;
  border-color: #EE6724;
}

.btn-primary:hover {
  color: #ffffff;
  background: rgba(238, 86, 36, 0.6);
  border-color: rgba(238, 86, 36, 0.6);
}

.btn-primary1:focus,
.btn-primary1:active,
.btn-primary1.active,
.btn-primary1 {
  color: #ffffff;
  background-color: rgba(10,191,211);
  background: rgba(10,191,211);
  border-color: rgba(10,191,211);
}

.btn-primary1:hover {
  color: #ffffff;
  background: rgba(10,191,211,0.6);
  border-color: rgba(10,191,211,0.6);
}

.list-group-item.active,
.list-group-item.focus,
.list-group-item.action {
  color: #ffffff;
  background-color: rgba(238, 86, 36, 0.5);
  background: #EE6724;
  border-color: #EE6724;
}

.list-group-item.active:hover {
  color: #ffffff;
  background: rgba(238, 86, 36, 0.6);
  border-color: rgba(238, 86, 36, 0.6);
}

.big1 img {
  height: 50%;
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%

}

.big2 img {
  height: 50%;
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%

}

.icon img {
  width: 80%;
  height: 80%;
  margin-top: 20%;


}

.backlogo {
  display: inline-block;
  width: 20%;
  height: 20%;
  background:url('../images/back-01.png');
  background-size: contain;
  float: right;
}
